div#forum_menu {
	clear: both;
}

div#forum_menu ul {
	border-bottom: 2px solid black;
	height: 1.9em;
}

div#forum_menu ul li {
	float: left;
	margin-right: .5em;
	margin-left: .5em;
	padding: .25em;
	padding-left: .5em;
	padding-right: .5em;
	border-right: 2px solid #000070;
	border-left: 2px solid #000070;
	border-top: 2px solid #000070;
	background-color: #0747A8;
	-moz-border-radius-topleft: 8px;
	-webkit-border-top-left-radius: 8px;
	-moz-border-radius-topright: 8px;
	-webkit-border-top-right-radius: 8px;
}

div#forum_menu ul li:hover {
	background-color: #000011;
}

div#forum_menu ul li a {
	text-decoration: none;
	color: white;
}

div.forum_discussion_details div, div.forum_category_details div, div.forum_comment_header div, div.forum_discussion_header div {
	float: left;
	margin-left: .5em;
	margin-right: .5em;
	font-size: .75em;
}

div.forum_category_description {
	font-size: .75em;
	margin-left: .5em;
	margin-right: .5em;
}

div.forum_comment_header {
	font-size: .85em;
}

div.forum_comment_header div.forum_comment_id {
	font-size: .75em;
}

div.forum_comment_header div {
	margin-left: 0;
	margin-right: 1em;
}

div.forum_discussion_header h2 {
	font-size: 1.15em;
	text-decoration: underline;
}

ul#discussion_list > li {
	border: 2px solid #A8BFFF;
	background-color: #E4EEFD;
	padding: .25em;
}

ul#discussion_list > li li {
	list-style-type: disc;
	margin-left: 1em;
}

ul#discussion_list > li .forum_comment_content {
	background-color: #F3F6FA;
	padding: .25em;
	font-size: .9em;
}

ul#discussion_list > li div.forum_comment_admin_links {
	float: right;
}

ul#category_list > li div.forum_discussion_admin_links {
	float: right;
}

p.forum_discussion_page_links, p.forum_category_page_links {
	float: right;
}

li.unread {
	background-color: #E4EEFD;
}

#content, .comment_input_box {
	width: 450px;
	height: 100px;
}

li.markdown_instructions {
	font-size: .75em;
}